@CHARSET "UTF-8";
/*导航栏类型*/
.navbar-default {
	background-color: rgb(76, 175, 80);
	border: none;
	height: 60px;
	padding: 0px;
}
/* 此处为网页缩小后右侧的汉堡按钮容器*/
.navbar-header {
	padding: 0px;
	margin-top: -5px;
}
/* 汉堡菜单按钮 */
.burgerMenu {
	margin-top: 24px;
}

/*导航栏容器*/
.navContainer {
	padding: 0px;
}

/* 教程主题列表*/
.articleThemelist {
	background: rgb(76, 175, 80);
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	color: white;
}

/*导航栏内列表元素样式*/
.navbar-collapse {
	padding: 0;
}

.navbar-collapse ul {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
}

/* 用户登录后的下拉菜单 */
.dropdownMenu {
	background: rgb(76, 175, 80);
	text-align: center;
}

.dropdownMenu li a:HOVER {
	background-color: rgb(76, 175, 80);
}