@CHARSET "UTF-8";

/*直接跳转教程页的链接*/
.goHome{
    float: right;
    color: #2C3E50;
    font-size: 20px;
    margin-right: 50px;
}
.goHome:hover{
    text-decoration: none;
    color: #2C3E50;
}
/*登录表单容器*/
.formContainer {
    width:40%;
    float: right;
    margin-top: 35px;
}
/*竖直分割线*/
.formContainer .hr {
    width: 1px;
    height: 350px;
    margin-top: 30%;
    margin-left: 10%;
    background: #98a6a7;
    float: left;
}

/* 登录表单样式 */
form {
    padding: 20px;
    margin-left: 25%;
    width: 45%;
    margin-top: 28%;
}
form img{
    width: 100px;
    height: 40px;
    margin-left: 10px;
}

/*表单输入框*/
.inputArea {
    width: 90%;
    height: 45px;
    padding-left: 10px;
    margin-top: 20px;
}

.inputCheckCode {
    width: 55%;
}

/*注册面板的注册按钮*/
.btn-UserReg{
    width: 88%;
    height: 45px;
    text-align: center;
    margin-top: 20px;
    margin-left:1%;
    background-color: #fff;
    color: #42b983;
    border: 1px solid #4fc08d;
}
.btn-UserReg:hover{
    color: #42b983;
}
/*错误提示*/
.errorTip{
	width: 90%;
	height:30px;
	padding:0px;
    padding-left: 10px;
    margin-top: 5px;
}
/*返回登录*/
.returnLogin{
    color: #c0c0c0;
    font-size: 10px;
    margin-left: 40%;
}
.returnLogin:hover{
    text-decoration: none;
    color: #c0c0c0;
}
